
@media (max-width: 425px) {
  /* For a screen < 425px, this CSS will be read */

.justine {
  display: flex;
  align-items: center;
  margin: 10px 50px;
  align-content: center;
  flex-direction: column !important;
}

.resume {
  text-align: right !important;
  width: 90vw !important;
  margin-bottom: 8px !important;
}

.resume p {
  text-align: justify !important;
  width: 90vw !important;
  margin-bottom: 32px !important;
}




.cards {
  padding: 0 !important;
  margin: 0 !important;
  width: 100% !important;
}

.cards img {
  display: none;
}

.card {
  width: 90vw !important;
  height:  auto !important;
  padding: 0 !important;
}

.card h4 {
  text-align: right !important;;
}

.card-desc2 {
  text-align: justify !important;
  padding: 8px !important;
}
.card-desc {
  text-align: justify !important;
  padding: 8px !important;
}

.reseau {
  margin-top: 20px;
}

